.info-container h3 {
  color: var(--primary);
  font-size: 38px;
}

.info-container h3,
.info-container p {
  margin: 0;
  padding: 0;
}

/* skills */
.info-container .skill-list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: -5px; /* accounts for outer margin on the list items */
}


.info-container .skill-list li {
  list-style: none;
  color: var(--text);
  padding: 6px 16px;
  background-color: var(--secondary);
  border-radius: 5px;
  font-size: 26px;
  margin: 5px;
}

/* about */
.info-container p {
  color: var(--text);
  font-size: 18px;
}
