.home [home-section="about"] {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.home [home-section="about"] .about-container {
  padding: 50px 75px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home [home-section="about"] .about-container h2 {
  color: var(--text);
  font-size: 56px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.home [home-section="about"] .about-container .info-container {
  margin-top: 50px;
}

@media (width < 1650px) {
  .home [home-section="about"] .about-container {
    padding: 50px 30px;
  }
}

@media (width < 1400px) {
  .home [home-section="about"] {
    flex-direction: column;
    align-items: center;
  }
  .home [home-section="about"] .about-container {
    width: 70%;
  }
}

@media (width < 800px) {
  .home [home-section="about"] .about-container {
    width: 80vw;
  }

  .home
    [home-section="about"]
    .about-container.skills
    .info-container
    .skill-list {
    width: 100%;
  }
}

@media (width < 600px) {
  .home [home-section="about"] .about-container {
    width: 90vw;
  }
}
