.home [home-section="about"] {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.home [home-section="about"] .about-container {
  padding: 50px 75px;
  width: 40%;
}

.home [home-section="about"] .about-container h2 {
  color: var(--text);
  font-size: 56px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.home [home-section="about"] .about-container .about-section {
  margin-top: 50px;
}

.home [home-section="about"] .about-container .about-section h3 {
  color: var(--primary);
  font-size: 38px;
  margin: 0;
  padding: 0;
}

/* skills */
.home
  [home-section="about"]
  .about-container.skills
  .about-section
  .skill-list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: -5px; /* accounts for outer margin on the list items */
}

.home
  [home-section="about"]
  .about-container.skills
  .about-section
  .skill-list
  li {
  list-style: none;
  color: var(--text);
  padding: 6px 16px;
  background-color: var(--secondary);
  border-radius: 5px;
  font-size: 26px;
  margin: 5px;
}

/* about */
.home [home-section="about"] .about-container.about .about-section p {
  color: var(--text);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

@media (width < 1650px) {
  .home [home-section="about"] .about-container {
    padding: 50px 30px;
  }
}


@media (width < 1400px) {
  .home [home-section="about"] {
    flex-direction: column;
    align-items: center;
  }
  .home [home-section="about"] .about-container {
    width: 70%;
  }
}

@media (width < 800px) {
  .home [home-section="about"] .about-container {
    width: 80vw;
  }

  .home
    [home-section="about"]
    .about-container.skills
    .about-section
    .skill-list {
    width: 100%;
  }
}


@media (width < 600px) {
  .home [home-section="about"] .about-container {
    width: 90vw;
  }

}
