.page-not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
}

.page-not-found-page .page-not-found-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-not-found-page .page-not-found-container h1,
.page-not-found-page .page-not-found-container h2 {
  margin: 0;
  padding: 0;
}

.page-not-found-page .page-not-found-container h1 {
  color: var(--primary);
  font-size: 140px;
  line-height: 140px;
}

.page-not-found-page .page-not-found-container h2 {
  color: var(--text);
  font-size: 54px;
  line-height: 54px;
}

.page-not-found-page .page-not-found-container hr {
  width: 460px;
  border-color: var(--text);
  margin: 10px 0;
}

.page-not-found-page .home-btn {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
  width: max-content;
  transition: all 0.6s ease-in-out;
}

.page-not-found-page .home-btn:hover {
  transform: translateY(-5px);
}

.page-not-found-page .home-btn span {
  margin-left: 6px;
}
